*{
    margin: 0;
    padding: 0;
}


.mountains{
height: 100vh;
width: 100%;

    background: url("https://images.unsplash.com/photo-1518709766631-a6a7f45921c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1925&q=80");

background-position: center;
background-repeat: no-repeat;
background-size: cover;


}